version: '3'
services:
  activemq:
    image: webcenter/activemq
    container_name: activemq
    volumes:
      - data:/data
    ports:
      - '8161:8161'
      - '61616:61616'
      - '61613:61613'
  redis:
    image: redis
    container_name: redis
    ports:
      - '6379:6379'
    volumes:
      - data:/data
  zookeeper:
    image: zookeeper
    container_name: zookeeper
    ports:
      - '2181:2181'
  mysql:
    image: mysql:5.7
    container_name: mysql
    ports:
      - '3306:3306'
    environment:
      - MYSQL_ROOT_PASSWORD=password
    volumes:
      - data:/var/lib/mysql
    command: [
      "--log-bin=mysql-bin",
      "--server-id=1"
    ]
volumes:
  data:
networks:
  default:
    external:
      name: docker-network
